@import 'utils/variables';
@import 'components/components';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $text-font;
}
h1 {
    @include h1();
}


.div-gps {
    @include gps-title();
}

.header-box {
    @include header();
}

.section-box {
    @include section();
}

main {
    @include main();
}

footer {
    @include footer();
}

.header-menu {
    @include header-color();
}

.body-menu {
    @include body-color();
}



.arrow {
    @include back-arrow();
}
.h1-menu {
   @include h1-menu();
}

.img-menu {
    @include img-menu();
}
.main-menu {
 @include main-menu();
 @include dropdown-animation();
}
@media only screen and (min-width: 601px) {
    .new-txt {
        position: relative;
        left: 81%;
    }
    .new-txt {
        position: relative;
        left: 81%;
      }
  }
  

