@import 'utils/_variables';
@import 'components/_components';


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $text-font;
}
h1 {
    @include h1();
}


.div-gps {
    @include gps-title();
}

.header-box {
    @include header();
}

.section-box {
    @include section();
}

main {
    @include main();
}

footer {
    @include footer();
}

.body-menu__header-menu {
    @include header-color();
}

.body-menu {
    @include body-color();
}



.arrow {
    @include back-arrow();
}
.h1-menu {
   @include h1-menu();
}

.body-menu__img-menu {
    @include img-menu();
}
.main-menu {
 @include main-menu();
 @include dropdown-animation();
}
