.header-box__btn-box {
  text-align: center;
  padding-bottom: 45px;
}
.header-box__btn-box__btn {
  height: 50px;
  width: 200px;
  border-radius: 36px;
  background-image: linear-gradient(to bottom right, #ff79da, #9356dc);
  color: #fff;
  border: none;
  box-shadow: 0px 3px 5px 2px #D0D0D0;
}
.header-box__btn-box__btn:hover {
  box-shadow: 0px 3px 5px 2px #A0A0A0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "roboto", sans-serif;
}

h1 {
  text-align: center;
  font-family: "shrikhand", sans-serif;
  padding: 20px;
}

.div-gps {
  margin: 0;
  text-align: center;
  background: #e6e6e6;
  height: 50px;
  width: 100%;
  box-shadow: 0px 4px 5px -5px grey inset;
}
.div-gps .div-gps__gps-text {
  font-weight: bold;
  padding-top: 14px;
}
.div-gps .gps {
  padding-right: 8px;
}

.header-box {
  background: #f2f2f2;
}
.header-box h2 {
  font-weight: bold;
  text-align: center;
  padding: 40px 0px;
}
.header-box p {
  text-align: center;
  padding-bottom: 40px;
}

.section-box {
  margin: 40px 0;
}
.section-box h2 {
  margin: 30px 20px;
}
.section-box .section-box__button-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section-box a {
  width: 85%;
}
@media screen and (min-width: 601px) {
  .section-box a {
    display: flex;
    justify-content: center;
    width: 80%;
  }
}
.section-box .button {
  display: flex;
  align-items: center;
  font-weight: bold;
  background: #f2f2f2;
  border-radius: 20px;
  border: 1px solid #fff;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
  box-shadow: 0px 3px 5px 2px #D0D0D0;
}
.section-box .button:hover {
  background: #e4d5f6;
  box-shadow: 0px 3px 5px 2px #A0A0A0;
}
@media screen and (min-width: 601px) {
  .section-box .button .first {
    float: left;
  }
}
@media screen and (min-width: 601px) {
  .section-box .button .second {
    float: right;
  }
}
.section-box .span-nums {
  position: relative;
  right: 17px;
  float: left;
  border: 1px solid black;
  color: #fff;
  background: #9356dc;
  text-align: center;
  padding: 8px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.section-box .span-txt {
  padding-left: 20px;
  font-weight: bold;
}

main {
  background: #f2f2f2;
}
main h2 {
  padding: 30px 20px;
}
main .img-positioning {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  main .img-positioning {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
main .img-positioning__first {
  flex: 1;
  flex-basis: 40%;
}
@media screen and (min-width: 1024px) {
  main .img-positioning__first {
    padding-right: 20px;
  }
}
main .img-positioning__second {
  flex: 1;
  flex-basis: 40%;
}
main .img-positioning__third {
  flex: 1;
  flex-basis: 40%;
}
@media screen and (min-width: 1024px) {
  main .img-positioning__third {
    padding-right: 20px;
  }
}
main .img-positioning__fourth {
  flex: 1;
  flex-basis: 40%;
}
main img {
  image-rendering: pixelated;
  object-fit: cover;
  height: 300px;
  width: 100%;
  border-radius: 12px 12px 0 0;
}
main .img-positioning__polaroid {
  background: #fff;
  margin-bottom: 40px;
  border-radius: 12px;
  box-shadow: 0px 3px 5px 2px #D0D0D0;
}
main .img-positioning__polaroid:hover {
  box-shadow: 0px 3px 5px 2px #A0A0A0;
}
main .new-text-box {
  position: relative;
}
main .new-text-box .new-text-box__new-txt {
  position: absolute;
  top: 25px;
  left: 70%;
  width: max-content;
  padding: 5px 20px;
  background: #99E2D0;
}
@media screen and (min-width: 601px) {
  main .new-text-box .new-text-box__new-txt {
    left: 80%;
  }
}
main .new-text-box2 {
  position: relative;
}
main .new-text-box2 .new-text-box2__new-txt2 {
  position: absolute;
  top: 25px;
  left: 70%;
  width: max-content;
  padding: 5px 20px;
  background: #99E2D0;
}
@media screen and (min-width: 601px) {
  main .new-text-box2 .new-text-box2__new-txt2 {
    left: 80%;
  }
}
main .img-positioning__polaroid__under-img {
  padding: 20px 30px;
  text-align: left;
  line-height: 1.6;
}
main .img-positioning__polaroid__under-img span {
  font-weight: bold;
}
main .img-positioning__polaroid__under-img i {
  float: right;
  padding-top: 15px;
  opacity: 1;
}
main .img-positioning__polaroid__under-img i:hover {
  opacity: 0;
  color: #9356dc;
}
main .img-positioning__polaroid__under-img .full {
  position: relative;
  left: 24px;
  opacity: 0;
}
main .img-positioning__polaroid__under-img .full:hover {
  opacity: 1;
  color: linear-gradient(to bottom right, #ff79da, #9356dc);
}

footer {
  background: #383838;
  color: #fff;
  padding: 20px 35px;
  line-height: 2;
}
footer h3 {
  font-family: "shrikhand", sans-serif;
  padding-bottom: 15px;
}
footer i {
  margin-right: 5px;
}

.body-menu__header-menu {
  background: #fff;
}

.body-menu {
  background: #f2f2f2;
}

.arrow {
  position: relative;
  left: 30px;
  top: 32px;
}

.h1-menu {
  padding-top: 0;
}

.body-menu__img-menu {
  position: relative;
  image-rendering: pixelated;
  object-fit: cover;
  height: 350px;
  width: 100%;
}

.main-menu {
  position: relative;
  bottom: 27px;
  padding: 30px 15px;
  background: #f2f2f2;
  border-radius: 26px 26px 0 0;
}
.main-menu .h2-menu {
  font-family: "shrikhand", sans-serif;
}
.main-menu .heart {
  float: right;
  padding-top: 5px;
  padding-right: 10px;
}
.main-menu .heart:hover {
  opacity: 0;
  color: #9356dc;
}
.main-menu .full {
  position: relative;
  left: 46px;
  bottom: 0.8px;
  opacity: 0;
}
.main-menu .full:hover {
  opacity: 1;
  color: #9356dc;
}
.main-menu .type-of-dish {
  font-weight: normal;
  padding-top: 30px;
}
.main-menu .type-of-dish::after {
  content: "";
  display: block;
  width: 40px;
  padding-top: 3px;
  border-bottom: 3px solid #99E2D0;
}
.main-menu .dishes {
  margin: 20px 0;
  background: #fff;
  border-radius: 18px;
  box-shadow: 0px 3px 5px 2px #D0D0D0;
  padding: 10px;
  line-height: 1.6;
}
.main-menu .dishes:hover .tick-icon {
  display: initial;
  animation-name: icon-move;
  animation-timing-function: linear;
  animation-duration: 2s;
}
.main-menu .dishes:hover .tick {
  animation-name: icon-rotate;
  animation-duration: 2s;
}
.main-menu .dishes .tick-icon {
  background: #99E2D0;
  text-align: center;
  float: right;
  position: relative;
  padding: 24px;
  bottom: 11px;
  left: 10px;
  border-radius: 0px 18px 18px 0px;
  display: none;
}
.main-menu .dishes .tick-icon .tick {
  background: #99E2D0;
  color: #fff;
}
.main-menu .dishes .dish-and-price {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-menu .dishes .dish-and-price p {
  width: 90%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.main-menu .dishes .dish-and-price .euro {
  padding-right: 10px;
}
@keyframes icon-move {
  0% {
    opacity: 0;
    transform: translateX(82px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes icon-rotate {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-180deg);
  }
  100% {
    opacity: 1;
    transform: rotate(-360deg);
  }
}
.main-menu .header-box__btn-box {
  margin-top: 50px;
  margin-bottom: -40px;
}
.main-menu .a {
  animation-name: dropdown-menu;
  animation-duration: 2s;
}
.main-menu .b {
  animation-name: dropdown-menu;
  animation-duration: 3s;
}
.main-menu .c {
  animation-name: dropdown-menu;
  animation-duration: 4s;
}
.main-menu .d {
  animation-name: dropdown-menu;
  animation-duration: 5s;
}
@keyframes dropdown-menu {
  0% {
    opacity: 0;
    transform: translateY(-500px);
  }
  80% {
    opacity: 0.5;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*# sourceMappingURL=style.css.map */
