@mixin button() {
    height: 50px;
    width: 200px;
    border-radius: 36px;
    background-image: $colour-gradient;
    color: #fff;
    border: none;
    box-shadow: $button-shadow;
    &:hover {
        box-shadow: $hover-shadow;
    }
}

@mixin h1() {
    text-align: center;
    font-family: $logo-title-font;
    padding: 20px;
}

@mixin gps-title() {
    margin: 0;
    text-align: center;
    background: #e6e6e6;
    height: 50px;
    width: 100%;
    box-shadow: 0px 4px 5px -5px grey inset;
    
       .div-gps__gps-text { 
            font-weight: bold;
            padding-top: 14px;
        }

        .gps {
            padding-right: 8px;
        }
}

@mixin header() {
    background: #f2f2f2;
    h2 {
        font-weight: bold;
        text-align: center;
        padding: 40px 0px;
    }
    p {
        text-align: center;
        padding-bottom: 40px;
    }
}
.header-box__btn-box {
    text-align: center;
    padding-bottom: 45px;
    &__btn {
        @include button();
    }
}

@mixin section() {

    margin: 40px 0;

    h2 {
        margin: 30px 20px; 
     }
    
    .section-box__button-box {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    a {
        width: 85%;
    }

    button {
        display: flex;
        align-items: center;
        font-weight: bold;
        background: #f2f2f2;
        border-radius: 20px;
        border: 1px solid #fff;
        width: 100%;
        height: 70px;
        margin-bottom: 20px;
        box-shadow: $button-shadow;
        &:hover {
            background: lighten($colour-primary, 30%);
            box-shadow: $hover-shadow;
        }
    }
        .span-nums {
            position: relative;
            right: 17px;
            float: left;
            border: 1px solid black; 
            color: #fff;
            background: $colour-primary;
            text-align: center;       
            padding: 8px;
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
        .span-txt {
            padding-left: 20px;
            font-weight: bold;
        }
}

@mixin main() {
    
    background: #f2f2f2;
    
    h2 {
        padding: 30px 20px;
    }
    .img-positioning {
        width: 90%;
    
    }
    .img-box {
        display: flex;
        justify-content: center;
        margin-top: -50px;
    }
    img {
        image-rendering: pixelated;
        object-fit: cover;
        height: 300px;
        width: 100%;
        border-radius: 12px 12px 0 0;
    }
    .img-positioning__polaroid {
        background: #fff;
        margin-bottom: 40px;
        border-radius: 12px;
        box-shadow: $button-shadow;
        &:hover {
            box-shadow: $hover-shadow;
        }
    }
    .new-txt {
        position: relative;
        top: 35px;    
        left: 69%;
        width: max-content;
        padding: 5px 20px;
        background: $colour-tertiary;
    }
    .new-txt2 {
        position: relative;
        top: 440px;
        left: 69%;
        width: max-content;
        padding: 5px 20px;
        background: $colour-tertiary;
    }
    .img-positioning__polaroid__under-img {
        padding: 20px 30px;
        text-align: left;
        line-height: 1.6;
        span {
            font-weight: bold;
        }
        i {
            float: right;
            padding-top: 15px;
            &:hover {
                color: $colour-primary;
            }
        }
        .full {
            position: relative;
            left: 24px;
            opacity: 0;
            &:hover {
                opacity: 1;
                color: $colour-gradient;                
            }

        }
    }
}




@mixin footer() {
    background: #383838;
    color: #fff;
    padding: 20px 35px;
    line-height: 2;
    h3 {
       font-family: $logo-title-font;
       padding-bottom: 15px; 
    }
    i {
        margin-right: 5px;
    }    
}

@mixin body-color() {
        background: #f2f2f2;
}

@mixin header-color() {
        background: #fff;
}

@mixin back-arrow() {
    position: relative;
    left: 30px;
    top: 32px;
}

@mixin h1-menu() {
    padding-top: 0;
}

@mixin img-menu() {
    position: relative;
    image-rendering: pixelated;
    object-fit: cover;
    height: 350px;
    width: 100%;
}
@mixin main-menu() {
   

    position: relative;
    bottom: 27px;
    padding: 30px 15px;
    background: #f2f2f2;
    border-radius: 26px 26px 0 0;
    .h2-menu {
        font-family: $logo-title-font;
    }
    .heart {
        float: right;
        padding-top: 5px;
        padding-right: 10px;
        &:hover {
           opacity: 0;
           color: $colour-primary;
        }
    }
    .full {
        position: relative;
        left: 46px;
        bottom: 0.8px;
        opacity: 0;
        &:hover {
            opacity: 1;
            color: $colour-primary;                
        }
    }
    .type-of-dish {
        font-weight: normal;
        padding-top: 30px;        
        &::after {
            content: "";  
            display: block;
            width: 40px;
            padding-top: 3px;
            border-bottom: 3px solid $colour-tertiary;
        }               
    }

    .dishes {
        margin: 20px 0;
        background: #fff;
        border-radius: 18px;
        box-shadow: $button-shadow;
        padding: 10px;
        line-height: 1.6;
        &:hover .tick-icon {
            display: initial;
            animation-name: icon-move;
            animation-timing-function: linear; 
            animation-duration: 2s;
        }
        &:hover .tick {
            // display: initial;
            animation-name: icon-rotate; 
            animation-duration: 2s;
        }
        .tick-icon {
            background: #99E2D0;
            text-align: center;
            float: right;
            position: relative;
            padding: 24px;
            bottom: 11px;
            left: 10px;
            border-radius: 0px 18px 18px 0px;
            display: none;
           
            .tick {
                background: $colour-tertiary;
                color: #fff;
            }
           
        }
        .dish-and-price {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            p {
                width: 90%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
            .euro {
                padding-right: 10px; 
            }
        }
        @keyframes icon-move {
            0% {
                opacity: 0;
                transform: translateX(82px); 
            } 
            50% {
                transform: translateX(10px);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
            }
        }
        @keyframes icon-rotate {
            0% {
                opacity: 0;
                transform: rotate(0deg);
            } 
            50% {
                transform: rotate(-180deg);
            }
            100% {
                opacity: 1;
                transform: rotate(-360deg);
            }
        }
    }
    .header-box__btn-box {
        margin-top: 50px;
        margin-bottom: -40px;
    }
}

@mixin dropdown-animation() {
    .a {
        animation-name: dropdown-menu;
        animation-duration: 2s;       
    }
    .b {
        animation-name: dropdown-menu;
        animation-duration: 3s;
        }
    .c {
        animation-name: dropdown-menu;
        animation-duration: 4s;
        }
    .d {
        animation-name: dropdown-menu;
        animation-duration: 5s;   
    }
    @keyframes dropdown-menu {
        0% {
            opacity: 0;
            transform: translateY(-500px);
        }
        80% {
            opacity: 0.5;
            transform: translateY(20px);
        }
    
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

    