@mixin button1() {
    height: 50px;
    width: 200px;
    border-radius: 36px;
    background-image: $colour-gradient;
    color: #fff;
    border: none;
    box-shadow: $button-shadow;
    &:hover {
        box-shadow: $hover-shadow;
    }
}

@mixin h1() {
    text-align: center;
    font-family: $logo-title-font;
    padding: 20px;
}

@mixin gps-title() {
    margin: 0;
    text-align: center;
    background: #e6e6e6;
    height: 50px;
    width: 100%;
    box-shadow: 0px 4px 5px -5px grey inset;
    
       .gps-text { 
            font-weight: bold;
            padding-top: 14px;
        }

        .gps {
            padding-right: 8px;
        }
}

@mixin header() {
    background: #f2f2f2;
    h2 {
        font-weight: bold;
        text-align: center;
        padding: 40px 0px;
    }
    p {
        text-align: center;
        padding-bottom: 40px;
    }
}
.btn-box {
    text-align: center;
    padding-bottom: 45px;
    .btn {
        @include button1();
    }
}

@mixin section() {

    margin: 40px 0;

    h2 {
        margin: 30px 20px; 
     }
    
    .button-box2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    button {
        display: flex;
        align-items: center;
        font-weight: bold;
        background: #f1f1f1;
        border-radius: 20px;
        border: 1px solid #fff;
        width: 80%;
        height: 70px;
        margin-bottom: 20px;
        box-shadow: $button-shadow;
        &:hover {
            background: lighten($colour-primary, 30%);
            box-shadow: $hover-shadow;
        }
    }
        .span-nums {
            position: relative;
            right: 17px;
            float: left;
            border: 1px solid black; 
            color: #fff;
            background: $colour-primary;
            text-align: center;       
            padding: 8px;
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
        .span-txt {
            padding-left: 20px;
            font-weight: bold;
        }
}

@mixin main() {
    
    background: #f2f2f2;
    
    h2 {
        padding: 30px 20px;
    }
    .img-positioning {
        width: 90%;
    
    }
    .img-box {
        display: flex;
        justify-content: center;
        margin-top: -50px;
    }
    img {
        image-rendering: pixelated;
        object-fit: cover;
        height: 300px;
        width: 100%;
        border-radius: 12px 12px 0 0;
    }
    .polaroid {
        background: #fff;
        margin-bottom: 40px;
        border-radius: 12px;
        box-shadow: $button-shadow;
        &:hover {
            box-shadow: $hover-shadow;
        }
    }
    .new-txt {
        position: relative;
        top: 35px;    
        left: 69%;
        width: max-content;
        padding: 5px 20px;
        background: $colour-tertiary;
    }
    .new-txt2 {
        position: relative;
        top: 440px;
        left: 69%;
        width: max-content;
        padding: 5px 20px;
        background: $colour-tertiary;
    }
    .under-img {
        padding: 20px 30px;
        text-align: left;
        line-height: 1.6;
        span {
            font-weight: bold;
        }
        i {
            float: right;
            padding-top: 15px;
            &:hover {
                color: $colour-primary;
            }
        }
        .full {
            position: relative;
            left: 24px;
            opacity: 0;
            &:hover {
                opacity: 1;
                color: $colour-gradient;                
            }

        }
    }
}




@mixin footer() {
    background: #383838;
    color: #fff;
    padding: 20px 35px;
    line-height: 2;
    h3 {
       font-family: $logo-title-font;
       padding-bottom: 15px; 
    }
    i {
        margin-right: 5px;
    }
}